@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: auto;
    overflow-x: hidden;
    color: #414141;
}
.container{
    width: 92%;
}
.btn-info{
    background-color: #00aeef;
}
ul{
    list-style: none;
}
.row{
    margin: 0px;
}
.black-almost{
    color: #525050;
}
.img-abs-center{
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    margin: auto;
}
.img-panorama{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    margin: auto;
    width: 100%;
    height: auto;
}
.top-header{
    margin-top: 10px;
}
.top-header a{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 17px;
    color: #6baeef;
    font-weight: 500;
}
.top-header a i{
    color: #2b2b2b;
}
.top-header a:hover{
    text-decoration: none;
}
.main-nav{
    background-color: #4e2242;
    padding-top: 10px;
    text-align: center;
    margin-top: 5px;
}
.main-nav > div > ul > li{
    margin-right: 30px;
}
.main-nav > div > ul > li:first-child{
    border-bottom: 2px solid #f9bf38;
}
.main-nav > div > ul > li a{
    color: #FFF;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 19px;
}
.main-nav > div > ul > li a:hover{
    text-decoration: none;
}
.main-nav-holder{
    position: relative;
}
.main-nav-logo{
    width: 249px;
    height: 62px;
    background: url('../images/logo.png') no-repeat left top;
    position: absolute;
    left: 0px;
    top: -45px;
}
.under-slides{
    border-top: 4px solid #00aeef;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'PT Sans Narrow', sans-serif;
}
.under-slides-container{
    display: flex;
}
.under-slides-container > [class^=col-md]{
    border-right: 1px solid #e6e6e6;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #a1a3a4;
}

.under-slides-container > [class^=col-md]:last-child{
    border-right: 0px;
}
.under-slides-container span{
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #414141;
}

.under-slides-container  i.fa-2x{
    color: #7ec440;
    margin-top: 5px;
    font-size: 35px;
}
.under-slides-container  span.fa-stack{
    color: #7ec440;
    margin-top: 5px;
    font-size: 19px;
}
span.under-slides-title{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Arial',serif;
    margin-top: 5px;
}
.insider-holder{
    background-color: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-img-holder{
    padding-left: 0px;
    padding-right: 30px;
}
.col-md-3-img{
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 100%;
}
.tour-label{
    position: absolute;
    z-index: 2;
    background-color: #FFF;
    bottom: 15px;
    left: 15px;
    padding: 7px 15px;
    font-weight: 600;
    font-size: 17px;
    color: #202020;
}
.row-img-holder{
    margin-bottom: 25px;
}
.show-more button{
    font-size: 16px;
}
/** footer **/
.footer {
    background-color: #6a3460;
    color: #FFF;
    margin-top: 0px;
    padding-top: 25px;
}
.footer ul {
    list-style: none;
    font-size: 14px;
}
.footer ul li a {
    color: #FFF;
}
.footer-social-links {
    padding-top: 20px;
    padding-bottom: 10px;
}
@media screen and (max-width:797px) {
    .footer-social-links {
        padding-bottom: 60px;
    }
}
.footer-social-links a {
    color: #FFF;
    font-size: 22px;
    margin-right: 10px;
}
.footer-final-links {
    padding-top: 30px;
    padding-bottom: 30px;
}
.refrence-title {
    padding-bottom: 10px;
    font-size: 22px;
}
.refrence-list {
    list-style: none;
    padding: 0px;
    font-size: 15px;
}
.refrence-list li a {
    color: #FFF;
}
.footer-show-toggle {
    position: absolute;
    bottom: 0px;
    color: #FFF;
    background-color: #000;
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
@media screen and (max-width:797px) {
    .footer-show-toggle {
        position: absolute;
        bottom: 0px;
        color: #FFF;
        background-color: #000;
        width: 150px;
        padding: 10px;
        text-align: center;
        font-size: 17px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}
.footer-toggle{
    background-color: #000;
    color: #FFF;
    overflow: hidden;
    transition: ease all .7s;
}
.toggle-off{
    max-height: 0px;
}
.toggle-on{
    max-height: 1000px;
}
.footer-rights{
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 12px;
}
.img-top-title{
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.top-title{
    position: absolute;
    left: 50px;
    top: 60px;
    color: #FFF;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 75px;
    text-shadow:3px 3px 3px #5b5a5a;
}
.normal-header{
    margin: 0px 0px 15px 0px;
    font-size: 27px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: #595959;
}
.img-right-side{
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    text-shadow:3px 3px 3px #5b5a5a;
    box-shadow: 1px 1px 3px #5b5a5a;
}
.img-right-side span{
    color: #FFF;
    position: absolute;
    z-index: 2;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 16px;
    bottom: 40px;
    left: 20px;
}
.img-right-side p{
    color: #FFF;
    position: absolute;
    z-index: 2;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 13px;
    bottom: 12px;
    left: 20px;
}
.item-tour{
    background: #FFF;
    border: 1px solid #e6e6e6;
    padding: 15px 0px;
    margin-bottom: 15px;
    display: flex;
}
.item-tour-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
}
.item-tour h2{
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.item-tour-right{
    padding-left: 0px;
    position: relative;
}
.item-tour-rating{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #a2a3a3;
}
.item-tour-rating i{
    color: #ffc203;
    font-size: 18px;
}
.item-tour-intro{
    display: block;
    color: #a2a3a3;
}
.tour-price-from{
    position: absolute;
    bottom: 0px;
    right: 15px;
    font-size: 25px;
    line-height: 10px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    text-align: right;
}
.tour-price-from span{
    display: block;
    color: #868687;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.tour-duration{
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: #868687;
}
.tour-duration label{
    font-size: 15px;
}
.see-all .btn{
    font-size: 16px;
}
.attraction-city-show{
    margin-top: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.attraction-city-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 220px;

}
.attraction-city-img img{
    width: 100%;
    transition: ease all .5s;
}
.attraction-city-img:hover img{
    width: 120%;
}
.img-panorama-text-cenetr{
    position: absolute;
    width: 100%;
    top: 30px;
    text-align: center;
}
.img-panorama-text-cenetr span{
    color: #FFF;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 75px;
    text-shadow:3px 3px 3px #5b5a5a;
    display: block;
}
.all-tour-title{
    font-size: 26px;
    margin-bottom:30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.all-tour-title span{
    font-size: 17px;
}
.left-side-form{
    background-color: #d3d3d4;
    border-radius: 5px;
    padding: 10px 10px;
}
.left-side-form span.form-header{
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #373738;
}
.left-side-form .btn{
    font-size: 17px;
}
.sp-eddition .input-group-addon{
    background-color: #FFF;
    position: relative;
    border-color: #a6a6a7;

}
.sp-eddition .input-group-addon i{
    color: #a6a6a7;
}
.sp-eddition .input-group-addon label{
    position: absolute;
    left: calc(100% + 10px);
    z-index: 1000;
    color: #a6a6a7;
    font-weight: lighter;
    /*    transition: all ease .3s;*/
}
.sp-eddition .input-group-addon label.small{
    font-size: 10px;
    top: 5px;
}
.sp-eddition .form-control{
    border-left: 0px;
    box-shadow: none;
    height: 40px;
}
#tour_from,#tour_to{
    background-color: #FFF;
    border-radius: 0px 5px 5px 0px;
    border-color: #a6a6a7;
}
.main-item-title{
    margin:10px 0px;
    font-size: 30px;
    font-family: 'Asap', sans-serif;
}
.main-item-img{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.review-rate{
    color: #414142;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 15px;
}
.reviews-count{

}
.main-item-duration{
    font-weight: 600;
    margin-left: 20px;
}
.main-item-duration label{
    font-weight: lighter;
}
.main-item-duration i{
    color: #77777b;
}
.item-main{
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    padding: 0px 0px 25px 0px;
    margin-top: 20px;
}
.item-main-intro{
    border-bottom: 1px solid #e6e6e6;
    padding: 25px 20% 25px 15px;
    font-size: 16px;
}
.item-main-glance{
    margin: 20px 0px 20px 15px;
    display: block;
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    color: #333334;
    font-weight: 600;
}
.glance-item{
    border-bottom: 1px solid #e6e6e6;
    margin: 0px 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}
.glance-item:last-child{
    border-bottom: 0px;
}
.glance-left-side i{
    color: #00aeef;
    /*    position: absolute;
        left: 0px;
        bottom: 2px;*/
}
.glance-left-side span{
}
div.glance-right-side{
    font-size: 15px;
    font-weight: 600;
}
.item-select-date{
    background-color: #e6e6e6;
    margin: 25px 0px;
    padding: 15px 0px;
}
.select-date-title{
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    color: #201f1f;
    display: block;
    margin-bottom: 15px;
}
.item-select-date [class^=col-md]{
    padding-right: 0px;
}
.item-select-date [class^=col-md]:last-child{
    padding-right: 15px;
}
.item-select-date input,.item-select-date button{
    height: 45px;
}
.item-select-date input.form-control{
    border: 2px solid #c0c0c0;
}
.select-travelers-hidden{

    width: calc(100% - 15px);
    border-radius: 5px;
    border: 2px solid #c0c0c0;
    background-color: #FFF;
    position: absolute;
    top: 0px;
    padding: 10px 15px;
    z-index: 1000;
}
.select-off{
    height: 45px;
}
.select-on{
    height: auto;
}
.select-travelers-hidden .details-holder{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    display: block;
    height: 20px;
    width: 92%;
    white-space: nowrap;
    overflow: hidden;
}
.select-travelers-hidden .details-holder i{
    color: #00aeef;
    font-size: 16px;
    margin-right: 7px;
}
.select-travelers-hidden .details-holder span.alternative-sort{
    display: none;
}
.price-toggle{
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.select-on .select-travelers-holder{
    display: block;
}
.select-off .select-travelers-holder{
    display: none;
}
.select-travelers-holder{
    border-top: 1px solid #c0c0c0;
    margin-top: 15px;
    padding-top: 15px;
}
.select-travelers-holder > .row{
    margin-bottom: 10px;
}
.select-travelers-holder span{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    line-height: 10px;
}
.select-input{
    padding: 0px;
    position: relative;
    margin-left: calc(100%/12 - 10px);
}
.select-input input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;

}
.select-input input[type=number]::-webkit-inner-spin-button:after{

}
.select-input .fa-plus,.select-input .fa-minus{
    position: absolute;
    color: #00aeef;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}
.select-input .fa-plus{
    right: -10px;  
}
.select-input .fa-minus{
    right: calc(100% + 10px);

}
#tour_date{
    background-color: #FFF;
    border-radius: 0px 5px 5px 0px;
    border-color: #c0c0c0;
    height: 45px;
    border-left: 0px;
}
#datepicker_container .sp-eddition .input-group-addon{
    border-width: 2px;
    border-color: #c0c0c0;
}
#datepicker_container .sp-eddition .input-group-addon i{
     color: #00aeef;
}
.item-select-date .btn{
    font-family: 'Asap', sans-serif;
    font-size: 17px;
}
.item-highlights{
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    padding: 25px 10px;
}
.item-highlights h2{
    margin: 20px 0px 20px 0px;
    font-size: 22px;
}
.item-highlights ul{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
ul.highlights{
    font-size: 17px;
    list-style:disc;
    padding-left: 15px;
}
.item-included{
    color: #7ec440;
}
.item-not-included{
    color: #ff3d21;
}
/** reviews **/
.reviews-summary-container{
    margin:10px 0px 20px 0px;
}
.reviews-summary-container h2{
    margin: 0px;
    font-size: 25px;
}
.reviews-summary-container h2 span{
    font-size: 16px;
    margin-left: 20px;
}
.reviews-summary{
    background: #FFF;
    margin:15px 0px 0px 0px;
    border: 1px solid #e6e6e6;
    padding: 0px 0px;
    font-family: 'Lato', sans-serif;
    display: flex;
    color: #000;
}
.reviews-summary > [class^=col-md]{
    padding: 20px 20px;
}
.reviews-summary >[class^=col-md]:first-child{
    border-right: 1px solid #e6e6e6;
}
.reviews-summary-title{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}
.overall-rating{
    font-size: 19px;
}
.overall-rating i.fa{
    color: #ffc203;
     font-size: 17px;
}
.overall-rating span.fa-stack{
    margin: 0px 30px 0px 0px;
    padding: 0px;
    display: inline-block;
    width: auto;
}
.overall-rating span.fa-stack i.fa-star{
    color: #d3d3d4;
    
}
.overall-rating span.fa-stack i.fa-star-half{
    
}
.reviews-summary-based{
    font-family: 'Lato', sans-serif;
    color: #a6a7a7;
    font-size: 14px;
}
.reviews-summary .progress{
    height: 8px;
    margin:8px 0px 0px 0px;
    background-color: #e6e6e6;
}
.reviews-summary .progress-bar{
    background-color: #ffc203;
}
.reviews-summary-all [class^=col-md]{
    padding-right: 0px;
}
.reviews-summary-all [class^=col-md]:nth-child(2){
    padding-left: 20px;
    margin-left: -15px;
}
.reviews-summary-all{
    margin-left: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #000;
}
.reviews-summary-all .row{
    margin-top: 8px;
}
.review-show{
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #4d4c4c;
    position: relative;
}
.review-show:last-child{
    border-bottom: 0px;
}

.review-show h2{
    margin: 0px;
    font-size: 20px;
}
.review-show-rate{
    margin-bottom: 15px;
}
.review-show-rate i{
    color: #337ab7;
}
.review-show-msg{
    font-size: 13px;
}
.review-show-owner{
    margin-top: 15px;
    font-size: 13px;
}
.review-show-owner span{
    font-weight: bold;
}
.review-show-date{
    position: absolute;
    right: 0px;
    top: 15px;
    color: #b4b3b3;
}
.review-helpfull{
    position: absolute;
    bottom: 15px;
    right: 0px;
}
.review-helpfull{
    font-weight: bold;
    font-size: 13px;
}
.review-helpfull a{
    padding:2px 10px;
    margin-left: 10px;
}
.item-all-reviews{
    background: #FFF;
    border: 1px solid #e6e6e6;
    padding: 20px 0px;
}
.item-review-header{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin: 0px 20px;
    font-family: 'Lato', sans-serif;
}
.review-sort-by{
    display: inline-block;
    position: relative;
    margin-left: 40px;
    color: #52aef0;
}
.review-sort-by .fa{
    position: absolute;
    color: #868780;
    left: calc(100% + 5px);
    font-size: 20px;
}
.review-sort-by .fa-caret-up{
    top: -5px;
}
.review-sort-by .fa-caret-down{
    bottom:-5px;
}
.see-all-review-button{
    margin-top: 15px;
}
.see-all-review-button .btn{
    font-size: 17px;
}