@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: auto;
    overflow-x: hidden;
    color: #414141;
}
.container{
    width: 92%;
}
.btn-info{
    background-color: #00aeef;
}
ul{
    list-style: none;
}
.row{
    margin: 0px;
}
.black-almost{
    color: #525050;
}
.img-abs-center{
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    margin: auto;
}
.img-panorama{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    margin: auto;
    width: 100%;
    height: auto;
}
.top-header{
    margin-top: 10px;
}
.top-header a{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 17px;
    color: #6baeef;
    font-weight: 500;
}
.top-header a i{
    color: #2b2b2b;
}
.top-header a:hover{
    text-decoration: none;
}
.main-nav{
    background-color: #4e2242;
    padding-top: 10px;
    text-align: center;
    margin-top: 5px;
}
.main-nav > div > ul > li{
    margin-right: 30px;
}
.main-nav > div > ul > li:first-child{
    border-bottom: 2px solid #f9bf38;
}
.main-nav > div > ul > li a{
    color: #FFF;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 19px;
}
.main-nav > div > ul > li a:hover{
    text-decoration: none;
}
.main-nav-holder{
    position: relative;
}
.main-nav-logo{
    width: 249px;
    height: 62px;
    background: url('../images/logo.png') no-repeat left top;
    position: absolute;
    left: 0px;
    top: -45px;
}
.under-slides{
    border-top: 4px solid #00aeef;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'PT Sans Narrow', sans-serif;
}
.under-slides-container{
    display: flex;
}
.under-slides-container > [class^=col-md]{
    border-right: 1px solid #e6e6e6;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #a1a3a4;
}

.under-slides-container > [class^=col-md]:last-child{
    border-right: 0px;
}
.under-slides-container span{
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #414141;
}

.under-slides-container  i.fa-2x{
    color: #7ec440;
    margin-top: 5px;
    font-size: 35px;
}
.under-slides-container  span.fa-stack{
    color: #7ec440;
    margin-top: 5px;
    font-size: 19px;
}
span.under-slides-title{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Arial',serif;
    margin-top: 5px;
}
.insider-holder{
    background-color: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-img-holder{
    padding-left: 0px;
    padding-right: 30px;
}
.col-md-3-img{
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 100%;
}
.tour-label{
    position: absolute;
    z-index: 2;
    background-color: #FFF;
    bottom: 15px;
    left: 15px;
    padding: 7px 15px;
    font-weight: 600;
    font-size: 17px;
    color: #202020;
}
.row-img-holder{
    margin-bottom: 25px;
}
.show-more button{
    font-size: 16px;
}
/** footer **/
.footer {
    background-color: #6a3460;
    color: #FFF;
    margin-top: 0px;
    padding-top: 25px;
}
.footer ul {
    list-style: none;
    font-size: 14px;
}
.footer ul li a {
    color: #FFF;
}
.footer-social-links {
    padding-top: 20px;
    padding-bottom: 10px;
}
@media screen and (max-width:797px) {
    .footer-social-links {
        padding-bottom: 60px;
    }
}
.footer-social-links a {
    color: #FFF;
    font-size: 22px;
    margin-right: 10px;
}
.footer-final-links {
    padding-top: 30px;
    padding-bottom: 30px;
}
.refrence-title {
    padding-bottom: 10px;
    font-size: 22px;
}
.refrence-list {
    list-style: none;
    padding: 0px;
    font-size: 15px;
}
.refrence-list li a {
    color: #FFF;
}
.footer-show-toggle {
    position: absolute;
    bottom: 0px;
    color: #FFF;
    background-color: #000;
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
@media screen and (max-width:797px) {
    .footer-show-toggle {
        position: absolute;
        bottom: 0px;
        color: #FFF;
        background-color: #000;
        width: 150px;
        padding: 10px;
        text-align: center;
        font-size: 17px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}
.footer-toggle{
    background-color: #000;
    color: #FFF;
    overflow: hidden;
    transition: ease all .7s;
}
.toggle-off{
    max-height: 0px;
}
.toggle-on{
    max-height: 1000px;
}
.footer-rights{
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 12px;
}
.img-top-title{
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.top-title{
    position: absolute;
    left: 50px;
    top: 60px;
    color: #FFF;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 75px;
    text-shadow:3px 3px 3px #5b5a5a;
}
.normal-header{
    margin: 0px 0px 15px 0px;
    font-size: 27px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: #595959;
}
.img-right-side{
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    text-shadow:3px 3px 3px #5b5a5a;
    box-shadow: 1px 1px 3px #5b5a5a;
}
.img-right-side span{
    color: #FFF;
    position: absolute;
    z-index: 2;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 16px;
    bottom: 40px;
    left: 20px;
}
.img-right-side p{
    color: #FFF;
    position: absolute;
    z-index: 2;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 13px;
    bottom: 12px;
    left: 20px;
}
.item-tour{
    background: #FFF;
    border: 1px solid #e6e6e6;
    padding: 15px 0px;
    margin-bottom: 15px;
    display: flex;
}
.item-tour-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
}
.item-tour h2{
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.item-tour-right{
    padding-left: 0px;
    position: relative;
}
.item-tour-rating{
    margin-top: 10px;
    color: #a2a3a3;
}
.item-tour-rating i{
    color: #ffc203;
    font-size: 18px;
}
.item-tour-intro{
    display: block;
    color: #a2a3a3;
}
.tour-price-from{
    position: absolute;
    bottom: 0px;
    right: 15px;
    font-size: 25px;
    line-height: 10px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    text-align: right;
}
.tour-price-from span{
    display: block;
    color: #868687;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.tour-duration{
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: #868687;
}
.tour-duration label{
    font-size: 15px;
}
.see-all .btn{
    font-size: 16px;
}
.attraction-city-show{
    margin-top: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.attraction-city-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 220px;

}
.attraction-city-img img{
    width: 100%;
    transition: ease all .5s;
}
.attraction-city-img:hover img{
    width: 120%;
}
.img-panorama-text-cenetr{
    position: absolute;
    width: 100%;
    top: 30px;
    text-align: center;
}
.img-panorama-text-cenetr span{
    color: #FFF;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 75px;
    text-shadow:3px 3px 3px #5b5a5a;
    display: block;
}
.all-tour-title{
    font-size: 26px;
    margin-bottom:30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.all-tour-title span{
    font-size: 17px;
}
.left-side-form{
    background-color: #d3d3d4;
    border-radius: 5px;
    padding: 10px 10px;
}
.left-side-form span.form-header{
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #373738;
}
.left-side-form .btn{
    font-size: 17px;
}
.sp-eddition .input-group-addon{
    background-color: #FFF;
    position: relative;
    border-color: #a6a6a7;

}
.sp-eddition .input-group-addon i{
    color: #a6a6a7;
}
.sp-eddition .input-group-addon label{
    position: absolute;
    left: calc(100% + 10px);
    z-index: 1000;
    color: #a6a6a7;
    font-weight: lighter;
/*    transition: all ease .3s;*/
}
.sp-eddition .input-group-addon label.small{
    font-size: 10px;
    top: 5px;
}
.sp-eddition .form-control{
    border-left: 0px;
    box-shadow: none;
    height: 40px;
}
#tour_from,#tour_to{
    background-color: #FFF;
    border-radius: 0px 5px 5px 0px;
    border-color: #a6a6a7;
}