@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: auto;
    overflow-x: hidden;
    color: #414141;
}
.container{
    width: 92%;
}
.btn-info{
    background-color: #00aeef;
}
ul{
    list-style: none;
}
.row{
    margin: 0px;
}
.black-almost{
    color: #525050;
}
.img-abs-center{
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    margin: auto;
}
.img-panorama{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    margin: auto;
    width: 100%;
    height: auto;
}
.main-header-holder{
    /*    position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 10000;
        background-color: rgba(255,255,255,.9);
    */    border-bottom: 5px solid #fba525;
    transition: ease all .5s;
}
.fixed-main-nav{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
    background-color: rgba(255,255,255,.9);
}
.main-header-holder > .container{
    position: relative;
}
.main-nav-logo{
    width: 249px;
    height: 62px;
    background: url('../images/logo.png') no-repeat left top;
    position: absolute;
    left: 0px;
    top: 5px;
}
.top-header{
    margin-top: 10px;
}
.top-header a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #6baeef;
    font-weight: 400;
    position: relative;

}
.top-header a i{
    color: #4e4e4f;
}
.top-header a i.warning-icon{
    position: absolute;
    font-size: 12px;
    color: #ff3d00;
    top: -3px;
    left: calc(100% - 7px);
}
.top-header a:hover{
    text-decoration: none;
}
.top-header .dropdown-menu{
    top: calc(100% + 10px);
    right: 0px;
    left: -100%;
    border-radius: 0px;
    background-color: #2b2b2b;
    padding-top: 0px;
    padding-bottom: 0px;
}
.top-header .dropdown-menu li{
    border-bottom: 1px solid #4e4e4f;

}
.top-header .dropdown-menu a{
    color: #FFF;
    padding-top: 7px;
    padding-bottom: 7px;
}
.top-header .dropdown-menu a:hover{
    background-color: #404040;
    color: #FFF;
}
.main-nav{
    background-color: #fba525;
    padding-top: 5px;
    text-align: center;
    margin-top: 5px;
}
.main-nav > div > ul > li{
    margin-right: 30px;
}
.main-nav > div > ul > li:first-child{
    border-bottom: 2px solid #f9bf38;
}
.main-nav > div > ul > li a{
    color: #FFF;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 19px;
}
.main-nav > div > ul > li a:hover{
    text-decoration: none;
}
.main-nav-holder{
    position: relative;
}

.under-slides{
    border-top: 4px solid #00aeef;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'PT Sans Narrow', sans-serif;
}
.under-slides-container{
    display: flex;
}
.under-slides-container > [class^=col-md]{
    border-right: 1px solid #e6e6e6;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #a1a3a4;
}

.under-slides-container > [class^=col-md]:last-child{
    border-right: 0px;
}
.under-slides-container span{
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #414141;
}

.under-slides-container  i.fa-2x{
    color: #7ec440;
    margin-top: 5px;
    font-size: 35px;
}
.under-slides-container  span.fa-stack{
    color: #7ec440;
    margin-top: 5px;
    font-size: 19px;
}
span.under-slides-title{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Arial',serif;
    margin-top: 5px;
}
.insider-holder{
    background-color: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 500px;
}
.col-img-holder{
    padding-left: 0px;
    padding-right: 30px;
}
.col-md-3-img{
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 100%;
}
.tour-label{
    position: absolute;
    z-index: 2;
    background-color: #FFF;
    bottom: 15px;
    left: 15px;
    padding: 3px 15px;
    font-weight: 700;
    font-size: 20px;
    color: #252525;
    font-family: 'Dosis', sans-serif;
}
.row-img-holder{
    margin-bottom: 0px;
}
.row-img-holder > [class^=col-md]{
    margin-bottom: 25px;
}
.show-more button{
    font-size: 16px;
}
/** footer **/
.footer {
    background-color: #6a3460;
    color: #FFF;
    margin-top: 0px;
    padding-top: 25px;
}
.footer ul {
    list-style: none;
    font-size: 14px;
}
.footer ul li a {
    color: #FFF;
}
.footer-social-links {
    padding-top: 20px;
    padding-bottom: 10px;
}
@media screen and (max-width:797px) {
    .footer-social-links {
        padding-bottom: 60px;
    }
}
.footer-social-links a {
    color: #FFF;
    font-size: 22px;
    margin-right: 10px;
}
.footer-final-links {
    padding-top: 30px;
    padding-bottom: 30px;
}
.refrence-title {
    padding-bottom: 10px;
    font-size: 22px;
}
.refrence-list {
    list-style: none;
    padding: 0px;
    font-size: 15px;
}
.refrence-list li a {
    color: #FFF;
}
.footer-show-toggle {
    position: absolute;
    bottom: 0px;
    color: #FFF;
    background-color: #000;
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
@media screen and (max-width:797px) {
    .footer-show-toggle {
        position: absolute;
        bottom: 0px;
        color: #FFF;
        background-color: #000;
        width: 150px;
        padding: 10px;
        text-align: center;
        font-size: 17px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}
.footer-toggle{
    background-color: #000;
    color: #FFF;
    overflow: hidden;
    transition: ease all .7s;
}
.toggle-off{
    max-height: 0px;
}
.toggle-on{
    max-height: 1000px;
}
.footer-rights{
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 12px;
}
.img-top-title{
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.top-title{
    position: absolute;
    left: 50px;
    top: 60px;
    color: #FFF;
    /*    font-family: 'Dosis', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 100px;
    text-shadow:3px 3px 3px #5b5a5a;
}
.normal-header{
    margin: 0px 0px 15px 0px;
    font-size: 27px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: #595959;
}
.img-right-side{
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    text-shadow:3px 3px 3px #5b5a5a;
    box-shadow: 1px 1px 3px #5b5a5a;
}
.img-right-side span{
    color: #FFF;
    position: absolute;
    z-index: 2;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 16px;
    bottom: 40px;
    left: 20px;
}
.img-right-side p{
    color: #FFF;
    position: absolute;
    z-index: 2;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 13px;
    bottom: 12px;
    left: 20px;
}
.item-tour-link{
    color: inherit;
}
.item-tour-link:hover{
    text-decoration: none;
}
.item-tour{
    background: #FFF;
    border: 1px solid #e6e6e6;
    padding: 15px 0px;
    margin-bottom: 15px;
    display: flex;
    position: relative;
}
.item-tour-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
}
.item-tour h2{
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.item-tour-right{
    padding-left: 0px;
    position: relative;
}
.item-tour-rating{
    margin-top: 0px;
    margin-bottom: 15px;
    color: #a2a3a3;
}
.item-tour-rating i{
    color: #ffc203;
    font-size: 22px;
}
.item-tour-intro{
    display: block;
    color: #a2a3a3;
}
.tour-price-from{
    position: absolute;
    bottom: 0px;
    right: 15px;
    font-size: 25px;
    line-height: 10px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    text-align: right;
}
.tour-price-from span{
    display: block;
    color: #868687;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.tour-price-from span.price-after-desc{
    font-size: 25px;
    line-height: 10px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    color: #ff3d00;
    position: relative;
}
.tour-price-from span.price-after-desc label{
    position: absolute;
    right: calc(100% + 10px);
    font-weight: 400;
    font-size: 14px;
    color: #a7a6a6;
    text-decoration: line-through;
}
.tour-duration{
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: #868687;
}
.tour-duration label{
    font-size: 15px;
}
.see-all .btn{
    font-size: 16px;
}
.attraction-city-show{
    margin-top: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.attraction-city-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 220px;

}
.attraction-city-img img{
    width: 100%;
    transition: ease all .5s;
}
.attraction-city-img:hover img{
    width: 120%;
}
.img-panorama-text-cenetr{
    position: absolute;
    width: 100%;
    top: 30px;
    text-align: center;
}
.img-panorama-text-cenetr span{
    color: #FFF;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 75px;
    text-shadow:3px 3px 3px #5b5a5a;
    display: block;
}
.all-tour-title{
    font-size: 26px;
    margin-bottom:30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.all-tour-title span{
    font-size: 17px;
}
.left-side-form{
    background-color: #d3d3d4;
    border-radius: 5px;
    padding: 10px 10px;
}
.left-side-form span.form-header{
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #373738;
}
.left-side-form .btn{
    font-size: 17px;
}
.sp-eddition .input-group-addon{
    background-color: #FFF;
    position: relative;
    border-color: #a6a6a7;

}
.sp-eddition .input-group-addon i{
    color: #a6a6a7;
}
.sp-eddition .input-group-addon label{
    position: absolute;
    left: calc(100% + 10px);
    z-index: 1000;
    color: #a6a6a7;
    font-weight: lighter;
    /*    transition: all ease .3s;*/
}
.sp-eddition .input-group-addon label.small{
    font-size: 10px;
    top: 5px;
}
.sp-eddition .form-control{
    border-left: 0px;
    box-shadow: none;
    height: 40px;
}
.sp-eddition-2{
    position: relative;
}
.sp-eddition-2 label{
    position: absolute;
    z-index: 100;
    top: calc(50% - 10px);
    left: 15px;
    color: #a6a6a7;
    font-weight: lighter;
    transition: all ease .2s;
}
.sp-eddition-2 label.small{
    font-size: 10px;
    top: 5px;
}
ul.search-results{
    position: absolute;
    top: calc(100%);
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    width: 100%;
    padding: 0px;
    display: none;
}
ul.search-results li{
    border-top: 1px solid #e6e6e6;

    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Lato',sans-serif;
}
ul.search-results li a{
    color: #373737;
}
#tour_from,#tour_to{
    background-color: #FFF;
    border-radius: 0px 5px 5px 0px;
    border-color: #383838;
}
.main-item-title{
    margin:10px 0px 0px 0px;
    font-size: 30px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    color: #4a4a49;
}
.main-item-img{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.review-rate{
    color: #414142;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 15px;
}
.reviews-count{

}
.main-item-duration{
    font-weight: 600;
    margin-left: 20px;
}
.main-item-duration label{
    font-weight: lighter;
}
.main-item-duration i{
    color: #77777b;
}
.item-main{
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    padding: 0px 0px 25px 0px;
    margin-top: 20px;
}
.item-main-intro{
    border-bottom: 1px solid #e6e6e6;
    padding: 25px 20% 25px 15px;
    font-size: 16px;
}
.item-main-glance{
    margin: 20px 0px 20px 15px;
    display: block;
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    color: #333334;
    font-weight: 600;
}
.glance-item{
    border-bottom: 1px solid #e6e6e6;
    margin: 0px 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}
.glance-item:last-child{
    border-bottom: 0px;
}
.glance-left-side i{
    color: #00aeef;
    /*    position: absolute;
        left: 0px;
        bottom: 2px;*/
}
.glance-left-side span{
}
div.glance-right-side{
    font-size: 15px;
    font-weight: 600;
}
.item-select-date{
    background-color: #e6e6e6;
    margin: 25px 0px;
    padding: 15px 0px;
}
.select-date-title{
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    color: #201f1f;
    display: block;
    margin-bottom: 15px;
}
.item-select-date [class^=col-md]{
    padding-right: 0px;
}
.item-select-date [class^=col-md]:last-child{
    padding-right: 15px;
}
.item-select-date input,.item-select-date button{
    height: 45px;
}
.item-select-date input.form-control{
    border: 2px solid #c0c0c0;
}
.select-travelers-hidden{

    width: calc(100% - 15px);
    border-radius: 5px;
    border: 2px solid #c0c0c0;
    background-color: #FFF;
    position: absolute;
    top: 0px;
    padding: 10px 15px;
    z-index: 1000;
}
.select-off{
    height: 45px;
}
.select-on{
    height: auto;
}
.select-travelers-hidden .details-holder{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    display: block;
    height: 20px;
    width: 92%;
    white-space: nowrap;
    overflow: hidden;
}
.select-travelers-hidden .details-holder i{
    color: #00aeef;
    font-size: 16px;
    margin-right: 7px;
}
.select-travelers-hidden .details-holder span.alternative-sort{
    display: none;
}
.price-toggle{
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.select-on .select-travelers-holder{
    display: block;
}
.select-off .select-travelers-holder{
    display: none;
}
.select-travelers-holder{
    border-top: 1px solid #c0c0c0;
    margin-top: 15px;
    padding-top: 15px;
}
.select-travelers-holder > .row{
    margin-bottom: 10px;
}
.select-travelers-holder span{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    line-height: 10px;
}
.select-input{
    padding: 0px;
    position: relative;
    margin-left: calc(100%/12 - 10px);
}
.select-input input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;

}
.select-input input[type=number]::-webkit-inner-spin-button:after{

}
.select-input .fa-plus,.select-input .fa-minus{
    position: absolute;
    color: #00aeef;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}
.select-input .fa-plus{
    right: -10px;  
}
.select-input .fa-minus{
    right: calc(100% + 10px);

}
#tour_date{
    background-color: #FFF;
    border-radius: 0px 5px 5px 0px;
    border-color: #c0c0c0;
    height: 45px;
    border-left: 0px;
}
#datepicker_container .sp-eddition .input-group-addon{
    border-width: 2px;
    border-color: #c0c0c0;
}
#datepicker_container .sp-eddition .input-group-addon i{
    color: #00aeef;
}
.item-select-date .btn{
    font-family: 'Asap', sans-serif;
    font-size: 17px;
}
.item-highlights{
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    padding: 25px 10px;
}
.item-highlights h2{
    margin: 20px 0px 20px 0px;
    font-size: 22px;
}
.item-highlights ul{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
ul.highlights{
    font-size: 17px;
    list-style:disc;
    padding-left: 15px;
}
.item-included{
    color: #7ec440;
}
.item-not-included{
    color: #ff3d21;
}
/** reviews **/
.reviews-summary-container{
    margin:10px 0px 20px 0px;
}
.reviews-summary-container h2{
    margin: 0px;
    font-size: 25px;
}
.reviews-summary-container h2 span{
    font-size: 16px;
    margin-left: 20px;
}
.reviews-summary{
    background: #FFF;
    margin:15px 0px 0px 0px;
    border: 1px solid #e6e6e6;
    padding: 0px 0px;
    font-family: 'Lato', sans-serif;
    display: flex;
    color: #000;
}
.reviews-summary > [class^=col-md]{
    padding: 20px 20px;
}
.reviews-summary >[class^=col-md]:first-child{
    border-right: 1px solid #e6e6e6;
}
.reviews-summary-title{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}
.overall-rating{
    font-size: 19px;
}
.overall-rating i.fa{
    color: #ffc203;
    font-size: 17px;
}
.overall-rating span.fa-stack{
    margin: 0px 30px 0px 0px;
    padding: 0px;
    display: inline-block;
    width: auto;
}
.overall-rating span.fa-stack i.fa-star{
    color: #d3d3d4;

}
.overall-rating span.fa-stack i.fa-star-half{

}
.reviews-summary-based{
    font-family: 'Lato', sans-serif;
    color: #a6a7a7;
    font-size: 14px;
}
.reviews-summary .progress{
    height: 8px;
    margin:8px 0px 0px 0px;
    background-color: #e6e6e6;
}
.reviews-summary .progress-bar{
    background-color: #ffc203;
}
.reviews-summary-all [class^=col-md]{
    padding-right: 0px;
}
.reviews-summary-all [class^=col-md]:nth-child(2){
    padding-left: 20px;
    margin-left: -15px;
}
.reviews-summary-all{
    margin-left: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #000;
}
.reviews-summary-all .row{
    margin-top: 8px;
}
.review-show{
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #4d4c4c;
    position: relative;
}
.review-show:last-child{
    border-bottom: 0px;
}

.review-show h2{
    margin: 0px;
    font-size: 20px;
}
.review-show-rate{
    margin-bottom: 15px;
}
.review-show-rate i{
    color: #337ab7;
}
.review-show-msg{
    font-size: 13px;
}
.review-show-owner{
    margin-top: 15px;
    font-size: 13px;
}
.review-show-owner span{
    font-weight: bold;
}
.review-show-date{
    position: absolute;
    right: 0px;
    top: 15px;
    color: #b4b3b3;
}
.review-helpfull{
    position: absolute;
    bottom: 15px;
    right: 0px;
}
.review-helpfull{
    font-weight: bold;
    font-size: 13px;
}
.review-helpfull a{
    padding:2px 10px;
    margin-left: 10px;
}
.item-all-reviews{
    background: #FFF;
    border: 1px solid #e6e6e6;
    padding: 20px 0px;
}
.item-review-header{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin: 0px 20px;
    font-family: 'Lato', sans-serif;
}
.review-sort-by{
    display: inline-block;
    position: relative;
    margin-left: 40px;
    color: #52aef0;
}
.review-sort-by .fa{
    position: absolute;
    color: #868780;
    left: calc(100% + 5px);
    font-size: 20px;
}
.review-sort-by .fa-caret-up{
    top: -5px;
}
.review-sort-by .fa-caret-down{
    bottom:-5px;
}
.see-all-review-button{
    margin-top: 15px;
}
.see-all-review-button .btn{
    font-size: 17px;
}
.item-addetional-header{
    margin: 15px 15px;
    font-size: 25px;
}
.item-addetional{
    margin-bottom: 40px;

}
.item-addetional [class^=col-md]{
    padding-right: 0px;
}
.item-addetional-holder{
    background: #FFF;
    position: relative;
    padding-bottom: 80px;
    border: 1px solid #e6e6e6;
}
.item-addetional-price{
    position: absolute;
    bottom: 20px;
    right: 15px;
    color: #9a9a9a;
    text-align: right;
}
.item-addetional-price span{
    display: block;
    color: #272727;
    font-size: 23px;
    line-height: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.item-addetional-rate{
    position: absolute;
    bottom: 20px;
    left: 15px;
}
.item-addetional-rate i{
    color: #ffc203;
}
.item-addetional-rate span{
    display: block;
    color: #9a9a9a;
}
.item-addetional-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
}
.item-addetional-holder h2{
    margin:15px 15px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.item-addetional-duration{
    display: block;
    margin: 0px 15px;
    color: #9a9a9a;
}
.ftech-data-loading{
    margin-top: -25px;
    margin-bottom: 25px;
    background-color: rgba(255,255,255,.8);
    border: 1px solid #e6e6e6;
    text-align: center;
    display: none;
}
.ftech-data-loading img{
    width: 170px;
    height: auto;
}
.price-plane-avaiable{
    border-width: 2px;
    border-style: solid;
    position: relative;
    padding: 20px 0px;
    margin-bottom: 15px;
    background-color: #FFF;
    position: relative;
}
.price-active{
    border-color: #00aeef;
}
.price-not-active{
    border-color:#e6e6e6;
}
.first-row{
    background-color: #FFF;
    padding:0px;
}
.item-tour-discount{
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: #ff3d00;
    color: #FFF;
    padding: 3px 10px;
    z-index: 1000;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 17px;
    font-weight: 600;
}
.price-active .second-row{
    display: block;
}
.price-not-active .second-row{
    display: none;
}
.first-row > .row{
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.first-row .row:first-child{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
.first-row > .row [class^=col-md]{
    padding: 0px;
}
.first-row .row:first-child span.fa-stack{
    font-size: 20px;
}
.price-active .first-row .row:first-child span.fa-stack{
    color: #d3d3d4;
}
.price-not-active .first-row .row:first-child span.fa-stack{
    color: #00aeef;
}
.price-active #active-plane{
    display: none;
}
.price-not-active #active-plane{
    display: inline-block;
}
.price-active #hide-plane{
    display: inline-block;
}
.price-not-active #hide-plane{
    display: none;
}
.price-plane-total{
    font-size: 12px;
    color: #9a9a9a;
}
.price-plane-total > label{
    display: block;
    font-weight: 100;
}
.price-plane-total span{
    display: block;
    color: #272727;
    font-size: 23px;
    line-height: 15px;
    font-family: 'Lato', sans-serif;
}
.price-plane-total span.discount-price{
    color:#ff3d00 ;
    position: relative;
    display: inline-block;
}
.price-plane-total span.discount-price label{
    position: absolute;
    right: calc(100% + 10px);
    font-weight: 400;
    font-size: 14px;
    color: #a7a6a6;
    text-decoration: line-through;
}
#price-discount{
    position: relative;
    color:#ff3d00 ;
    display: inline-block;
}
#price-discount label{
    position: absolute;
    right: calc(100% + 10px);
    font-weight: 400;
    font-size: 14px;
    color: #a7a6a6;
    text-decoration: line-through;
}
.second-row{
    margin-top: 15px;
}
.second-row [class^=col-md]{
    padding-left: 0px;
    padding-right: 0px;
}
.price-all-details .row{
    border-bottom: 1px solid #e6e6e6;
    padding-top: 7px;
    padding-bottom: 7px;
}
.price-all-details .row:first-child{
    padding-top: 0px;
}
.price-add-cart{
    background-color:  #e6e6e6; 
    margin-left: -15px; 
    margin-right: -15px; 
    margin-bottom: -20px;
    margin-top: 15px;
    padding: 15px;
}
.price-add-cart .btn{
    font-size: 18px;
}
#not-available{
    border-bottom: 0px;
    padding-top: 0px;
}
.not-available-warning{
    display: block;
    color: #cdcdcd;
}
.next-date{
    color: #a0a8a7;
}
.next-date a{
    color: #52aef0;
}
.right-side-tour{
    font-size: 14px;
    color: #9a9a9a;

}
.right-side-tour span{
    display: block;
}
.right-side-tour span.total-right{
    color: #272727;
    font-size: 23px;
    line-height: 15px;
    font-family: 'Lato', sans-serif;
}
.right-side-tour .btn{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.right-side-tour-holder ul{
    padding: 0px;
}
.right-side-tour-holder ul li{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 7px;
    padding-top: 7px;
}
.right-side-tour-holder ul li:last-child{
    border-bottom: 0px;
}
.right-side-tour-holder ul li a{
    color:#00b5f1;
}
.city-main-header{
    font-family: 'Lato', sans-serif;
    color: #424343;
    margin-bottom: 20px;
    padding-left: 15px;

}
.city-see-all{
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;

}
.city-see-all .btn{
    font-size: 16px;
}
.city-text{
    font-size: 16px;
    color: #9a9a9a;
    margin-bottom: 20px;
}
.city-attractions{
    margin-bottom: 20px;
}
.city-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}
.city-img-2{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
}
.city-title-item{
    color: #000;
    font-size: 20px;
}
.city-text-insider{
    font-size: 15px;
    color: #9a9a9a;
}
.country-info:last-child{
    margin-bottom: 30px;
}
.country-info [class^=col-md]{
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    font-size: 16px;
}
.country-info [class^=col-md]:before{
    content : "";
    position: absolute;
    left    : 0;
    top  : 0;
    height  : 1px;
    width   : 95%;
    border-bottom:1px solid #e6e6e6;
}
.country-info [class^=col-md] > i{
    position: absolute;
    font-size: 25px;
    left: 0px;
}
.country-info [class^=col-md] > span.fa-stack{
    position: absolute;
    font-size: 13px;
    left: 0px;
}
.country-info-details{
    display: block;
    color: #9a9a9a;
}
.discount-value{
    background: #fce0db;
    color: #ff4515;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 2px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}
.show-more-photos{
    position: absolute;
    z-index: 2000;
    right: 30px;
    top: 20px;
    background-color: rgba(0,0,0,.7);
    display: inline-block;
    color: #FFF;
    padding: 5px 20px;
}
.show-more-photos:hover{
    color: #FFF;
    text-decoration: none;
}
h1.cart-header{
    margin: 0px 0px;
    font-style: italic;
    font-size: 24px;
    font-weight: 500;

}
h2.cart-header{
    margin:15px 0px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}
span.cart-warn{
    color: #9a9a9a;
}
.cart-item{
    border: 1px solid #e6e6e6;
    margin-top: 15px;

}
.cart-item-det{
    position: relative;
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cart-item-remove{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.cart-item-remove a{
    color: #b0b1a8;
    font-size: 19px;
}
.cart-item-price{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
}
.item-card-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80px;
}
.cart-item-det h2{
    margin: 0px;
    font-size: 18px;
}
.cart-item-det span{
    display: block;
    font-size: 15px;
}
.cart-item-buttom{
    background-color: #eaf4e1;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    color: #708508;
}
.cart-all-total{

    border-top: 5px solid #00aeef;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 15px;
    padding: 15px;
    background-color: #FFF;
}
.cart-all-total span{
    font-style: italic;
    font-size: 12px;
}
span.cart-header-total{
    display: block;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.cart-all-total .btn{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart-all-bottom{
    text-align: center;
}
.cart-all-bottom a{
    color: #00aeef;
    text-decoration: underline;
}
.cart-all-bottom span{
    display: block;
    font-style: normal;
}
.login-area{
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20000;
    display: none;
}
.login-box-2{
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 26%;
    background: #FFF;
    padding:30px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000;
}
.login-box-2 .fa-times-circle{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #cccccc;
    font-size: 20px;
}
.login-box-2 h2{
    text-align: center;
    font-size: 21px;
}
.login-header-span{
    text-align: center;
    font-size: 13px;
    display: block;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #272727;
}
.login-box-2 .btn{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 10px;
}
.login-box-2 .btn i{
    border-right: 0px;
    font-size: 17px;
    top: 8px;
}
.sign-up-section{
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
span.login-or{
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    color: #989996;
    font-weight: 500;
}
.login-box-2 .form-control{
    background-color: #FFF;
    height: 43px;
}
.my-alert{
    background-color: #ffddd2;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    color: #ca3109;
    margin-bottom: 15px;
}
.wishlist-header{
    margin-top: 40px;
    margin-bottom: 0px;
    font-family: 'Asap', sans-serif;
    color: #989996;
}
.wishlist-span{
    display: block;
    margin-bottom: 30px;
    font-family: 'Asap', sans-serif;
    margin-top: 5px;
    color: #989996;
}
.remove-wishlist{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #f7f7f7;
    color: #d3d3d4;
    font-size: 20px;
    z-index: 2000;
}
.remove-wishlist i{
    padding: 10px 14px;
}
.register-contianer{
    width: 50%;
    margin: 30px auto;
    text-align: center;
}
.register-contianer span.fa-stack{
    font-size: 30px;
    color: #ff3d00;
}
.register-contianer h1{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.register-contianer ul{
    padding: 0px 0px 0px 20px;
    font-size: 17px;
    text-align: left;
}
.register-contianer ul li:before{
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 100%;
    display: inline-block;
    background-color: #ff3d00;
    margin-right: 10px;
}
.register-contianer .btn-social{
    font-size: 19px;
    text-align: center;
    margin-bottom: 15px;
}
.register-contianer .btn-social i{
    font-size: 14px;
    border-right: 0px;
}
.register-contianer input.form-control{
    font-size: 16px;
    height: 40px;
    content: '';
}
.btn-register{
    font-size: 19px;

}
.email-autocompelete-off:read-only{
    background-color: #FFF;
}
.nav-sp{
    padding-left: 20%;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.nav-sp a{
    color: #000;
}
.nav-sp li a:hover{
    background: none;
    border: 1px solid transparent;
}
.customer-setting{
    background-color: #FFF;
    padding-top: 40px;
    padding-bottom: 40px;
}
.list-group-sp{
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.list-group-sp li{
    background-color: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list-group-sp a{
    color: #000;
}
.list-group-sp a:hover{
    text-decoration: none;
}
.list-group-sp a i{
    font-size: 15px;
}
.list-group-sp .active{
    background-color: #FFF;
    border-color: #e6e6e6;
}
.list-group-sp .active:hover{
    background: none;
    border-color: #e6e6e6;
}
.sp-profile{

}
.sp-profile h1{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.sp-profile form{
    margin-right: 30%;
}
.sp-profile form .form-control{
    height: 40px;
}
.sp-profile form .btn{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.reset-password{
    font-size: 12px;
    display: block;
    padding-top: 15px;
}
.reset-password:hover{
    text-decoration: none;
}
.sp-reset{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.sp-reset h1{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}
.sp-reset span{
    display: block;
    margin-bottom: 15px;
}
.sp-reset form{
    width: 40%;
}
.sp-reset .form-control{
    height: 40px;
}
.sp-reset .btn{
    font-size: 22px;
}
.checkout-form{

}
.checkout-form > form > section{
    border-bottom:  1px solid #e6e6e6;
    padding-bottom: 25px;
}
.input-group-sp{
    margin-bottom: 10px;
    color: #666666;
}
.checkout-form > form > section:last-child{
    border-bottom:  0px;

}
.checkout-form h1{
    font-size: 22px;
    font-family: 'Asap', sans-serif;
    font-weight: 700;
    color: #666666;
}
.checkout-form h1 .fa-stack{
    font-size: 15px;
    color: #ff3d00;
}
.checkout-form h1 span.fa-stack-1x{
    font-family: 'Asap', sans-serif;
    font-weight: 700;
}

span.input-note{
    display: block;
    margin-top: 10px;
    color: #9a9a9a;
}
.payment-method{
    background-color: #FFF;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}
.order-summery{
    background-color: #FFF;
    padding: 15px 15px;
    margin: 25px 0px;
}
.order-summery > h2{
    margin: 0px 0px 0px 15px;
    font-size: 16px;
}
.order-summery .cart-item{
    border: 0px;
    margin-top: 5px;

}
.total-summary{
    background-color: #FFF;
    padding: 15px 0px;
    margin-top: 15px;
    font-size: 19px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
}
.total-summary .btn{
    font-size: 19px;
    margin-top: 15px;
}
.checkout-form a{
    color:#00aeef;
}
.success-reservation,.failure-reservation{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}
.success-reservation i{
    font-size: 80px;
    color: #70b159;
}
.failure-reservation i{
    font-size: 80px;
    color: #ed530f;
}
.booking-item{
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    padding: 15px 0px;
    margin-top: 15px;
}
.booking-item span{

}
.booking-item form{
    display: inline;
}
.booking-item .btn{
    padding-top: 2px;
    padding-bottom: 2px;
}
.rate-this-item{
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1000;
}
/*Review Write*/
.review-holder-all{
    display: flex;
}
.review-write-container{
    width: 80%;
}
.review-write-container label{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #1b1c1c;
    font-weight: 600;
}
.review-write-container input,.review-write-container textArea{
    border-top-width: 3px;
}
.review-write-container input{
    height: 45px;
}
.review-write-container textArea{
    min-height: 120px;
}
.review-write-container .btn{
    background-color: #337ab7;
    border: none;
    font-size: 17px;
}
.review-write-header h2{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #1b1c1c;
    font-weight: 600;
}
.review-write-img{
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.review-write-help{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #1b1c1c;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}
.write-success{
    font-size: 25px;
}
.write-success i{
    color: #5cb85c;
}
.reviews-all{
    width: 80%;
    margin-top: 30px;
}
.review-sort-label{
    display: block;

}
a.review-sort{
    display: inline-block;
    padding: 5px 10px;

    text-decoration: none;

    font-size: 16px;
    border-radius: 3px;

}

a.not-selected{
    border: 1px solid #e6e6e6;
    background-color: #FFF;
    color: #666666;
}
a.not-selected:hover{
    border-color: #00a680;
    color: #00a680;
}
a.it-selected{
    border: 1px solid #00a680;
    background-color: #00a680;
    color: #FFF;
}
a.it-selected:hover{
    color: #FFF;
}
.rating-addetional{
    display: inline-block;
    padding-top: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #1b1c1c;
    font-weight: 600;
}
input#visit_date{
    background-color: #FFF;
}
.review-refrences-holder{
    background-color: #FFF;
    padding-top: 30px;
    border-left: 1px solid #e6e6e6;
    font-family: 'Lato', sans-serif;
}
.review-refrences-holder h2{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #1b1c1c;
    font-weight: 600;
}
.review-refrences-item{
    margin-top: 20px;
}
.review-refrences-name{
    display: block;
    font-size: 12px;
}
.review-refrences-title i{
    color: #337ab7;
}
.review-refrences-title span{
    font-weight: 600;
    font-size: 16px;
}
.review-refrences-text{
    font-size: 12px;
    margin-top: 10px;
}
.review-success{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
/** suplier section **/
.heder-labels{
    position: absolute;
    display: inline-block;
    left: 300px;
    top: 7px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.supplier-body{
    background-color: #ecede8;
    font-family: 'Lato', sans-serif;
}
.supplier-body .container{
    width: 70%;
}
.supplier-title-intro{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 60px;
    margin-bottom: 30px;
    display: block;
}
.supplier-title-intro label{
    font-size: 35px;
    font-weight: 600;
}
.take-less{
    display: block;
    font-family: 'Dosis',sans-serif;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 13px;
}
.supplier-intro-help{
    display: block;
    margin-bottom: 15px;
}
span.or{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
.supplier-intro-body{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border: 2px solid #cdcdc9;
    border-radius: 10px;
}
.supplier-body-title{
    margin-bottom: 25px;
    font-size: 13px;
}
.supplier-body-title span{
    display: block;
    font-size: 19px;
    margin-bottom: 10px;
}
.supplier-body-holder{
    display: flex;
}
.supplier-body-bg{
    background: url('../images/supplier-intro-bg.png') no-repeat bottom right;
}
.supplier-intro-login{
    font-size: 17px;
}
/** supplier register form **/
.supplier-register-form-container{
    width: 98%;
    margin: 50px auto;
}
.supplier-register-form-container h2{
    margin: 0px;
}
.supplier-register-form-holder{
    border: 2px solid #cdcdc9;
    padding: 10px 0px;
    border-radius: 10px;
}
.supplier-register-form-holder h3{
    margin: 0px;
}
.form-section{
    width: 100%;
    background-color: #FFF;
    padding: 15px 10px;
    border: 1px solid #cdcdc9;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
}
.form-section-title{
    border-bottom: 2px solid #cdcdc9;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 19px;
}
.sort-1{
    width: 80%;
}
.sort-2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    margin-bottom: 5px;

}
.sort-2.end-sector{
    border-bottom: 1px solid #cdcdc9;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.sort-2 label,.sort-2 .form-control,.sort-2 span{
    display: inline-block;
}
.sort-2 label{
    width: 30%;
    margin-right: 10px;
    text-align: right;
}
.sort-2 .form-control{
    width: 50%;
}
.section-label{
    position: absolute;
    width: 50%;
    left: calc(100% + 15px);
    font-size: 11px;
    border: 1px solid #cdcdc9;
    border-radius: 5px;
    padding: 10px 15px;
}
.section-label label{
    padding: 0px;
    margin: 0px;
}
.section-label-arrow{

    position: absolute;
    right: calc(100% + 0px);
    top: 40px;

}
.section-label-arrow .sp-1x{
    color: #ecede8;
    /*    color: #000;*/
    font-size: 25px;
    position: absolute;
    right: -1px;
    bottom: 3px;

}
.section-label-arrow .sp-2x{
    color: #cdcdc9;
    font-size: 30px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
/** quick search **/
.quick-search{
    position: absolute;
    width: 50%;
    /*    background-color: rgba(255,255,255,.8);*/
    background-color:#d3d3d4;
    z-index: 1000;
    padding: 10px 15px;
    bottom: 40px;
    left: 120px;
    border-radius: 5px;

    /*    border-bottom: 5px solid #00aeef;
        border-left: 5px solid #00aeef;
        border-top: 5px solid #FFF;
        border-right: 5px solid #FFF;*/
    /*    border-radius: 0px 5px 0px 0px;*/
}
.quick-search [class^=col-md]{
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
}
.quick-search [class^=col-md]:last-child{
    padding-right: 0px;
}
.quick-search .form-group{
    margin-bottom: 0px;
}
.quick-search .form-control{
    height: 42px;
    border-radius: 5px;
    border-color: #a6a6a7;
    border-width: 1px;
}
.quick-search .btn{
    height: 42px;
}
.quick-search #tour_from,.quick-search #tour_to{
    border-color: #a6a6a7;
}
.topic-text{
    font-family: 'Asap',sans-serif;
    color: #494848;
}
.topic-title{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}